

<title>Find a table</title>

<link href="/css/detail.css" rel="stylesheet" type="text/css"/>
<body>
  <header>
    <div class="title">
      <h2><%= restaurantsInfo.name%></h2>
    </div>
    <img class="logo" src="./images/Burger_Finder.png" alt="logo" />
    <nav>
      <a href="/restaurant_map.html"><button>BACK</button></a>
    </nav>
  </header>

  <!-- <%= restaurantsInfo.reviews[0].text %> 
  <%= restaurantsInfo.reviews[0].rating %>  -->
  <div class="restaurant-images">
    <% restaurantsInfo.photos.forEach(photo => { %>
    <img
      src="<%= `https://maps.googleapis.com/maps/api/place/photo?maxwidth=250&maxheight=250&photoreference=${photo.photo_reference}&key=AIzaSyABL4y3J8mON1Db0z4-C-ExwOSZ-W-VHrY` %> "
      alt="image"
    />
    <% }) %>
  </div>
  <div class="box-detailpage">
    <div class="small-box-detailpage">
      <h3>OPENING HOURS</h3>
      <div class="opening-hours-list">
        <ul class="time-detailpage">
          <% restaurantsInfo.opening_hours.weekday_text.forEach(day => { %>
          <li><%= day %> </li>
          <% }) %>
        </ul>
      </div>

      <h3>THE DETAILS</h3>
      <div class="details-detailpage">
        <h4>Type</h4>
        <% restaurantsInfo.types.forEach(type => { %>
        <ul>
          <li><%= type %></li>
        </ul>
        <% }) %>
      </div>
    </div>
    <div class="big-box-detailpage">
      <div class="detail-map">
        <!-- the &q should be the place we need
        It accepts a location as either a place name, address, or place ID. -->
        <iframe
          width="600"
          height="450"
          frameborder="0"
          style="border: 0"
          src="<%= `https://www.google.com/maps/embed/v1/place?key=AIzaSyBS3C4jLmXkVC7pUgctJFnx4piQF41gN5Y
            &q=place_id:${restaurantsInfo.place_id}` %>"
          style="
            https: //developers.google.com/maps/documentation/javascript/styling#styled_map_wizard;;
          "
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="booking-table">
        <!-- <form action="">
          <select name="" id="booking-time">
            <option>BOOK A DAY HERE</option>
            <%array = []%>
            <%arrayday =["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]%>
            
            <% restaurantsInfo.opening_hours.periods.forEach(day => { %>
                <%i=1%>
                <option><%=arrayday[day.open.day] %> </option>
                <%array.push(day)%>
                <% i++ %>
                <% }) %>
            <%console.log(array)%>
            <%console.log(parseInt(array[0].close.time)+100)%>

            

          </select>
        </form> -->

        <form action="">
            <select name="" id="booking-day">
                <option >BOOK A TIME HERE</option>
                <%d =new Date()%>
                <%inc = "100"%>
                <%i=0%>
                <% restaurantsInfo.opening_hours.periods.forEach(day => { %>
                    
                    <option><%=arrayday[i] + " " + d.setTime(day.open.time)%></option>
                    <%for (j=1;j<8;j++) {%>
                        <option><%= arrayday[i] + " " + (d.setTime(day.open.time) +j*100)%></option>
                   <% }%>
                    
                    <%i+=1%>
                    <% }) %>               
                
            </select>
        </form>
        <script>
           function confirmbooking(){
				alert("Hello! Your booking is confirmed at " + document.querySelector("h2").outerText+" "+document.getElementById("booking-day").value +". We will send the confirmation email from our server using SMTP in future.");
			}
        </script>
       <button id="submit-btn" onclick="confirmbooking()">SUBMIT</button>
      
  
    </div>
  </div>

  <footer>
    <p>NOVEMBER 2020</p>

    CONTACT WITH US
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
